:root{
    /*light mode colors */
    --bg-color: #BDE7FD;
    --text-color: black;
    --border-color: black;
    --box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);
    --primary-color: orange;

}


body{
    margin: 0;
    background-color: var(--bg-color);
    overflow-x:hidden ;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.navbar-container{
    justify-content: space-between;
    padding: 16px 32px;
    background-color:var(--bg-color) ;
    box-shadow: var(--box-shadow);
}

.logo-name{
    font-weight: bolder;
    font-size: 2rem;
    font-style: italic;

    
}

.line{
color: var(--primary-color);
font-weight: bolder;
font-size: 2rem;
}

.title{
letter-spacing: 3px;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 15px;
    @media(max-width: 760px) {
        display: none;
        
    }
}

.nav-items a{
    text-decoration: none;
    color: var(--text-color);
}

.nav-items a:hover{
    color: var(--primary-color);
}

/* Hamburger  menu */
#hamburger-menu{
    display: none;
}


[for="hamburger-menu"]{
    display: none;

    @media (max-width: 760px){
        display: block;
    }
}


/* mobile only css */
@media (max-width: 760px){
    .side-menu-items{
        list-style: none;
    }


.side-menu-items a{
    list-style: none;
    flex-direction: column;
    align-items: start;
    border-radius: 12px;
    text-decoration: none;
    color: var(--text-color);

}

.side-menu{
    width: 250px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    position: absolute;
    top: 4rem;
    left:100vw;
    transition: left 0.5s;
}

#hamburger-menu:checked + .side-menu{
    /* display: block; */
    left: calc(100vw - 250px);
}

/* #hamburger-menu:not(:checked) + .side-menu{
    display: none; */
/* } */
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.hero-section{
    background-color: var(--primary-color);
    border-radius: 12px;
    max-height: 60vh ;
    margin: 4rem 0;
}

.intro-text{
    color: white;
    padding: 8px;
}

.download-btn{
    background-color: black;
    color: white ;
    border-radius: 12px;
    padding: 10px;
}

.download-btn:hover{
cursor: pointer;
}

.profile-image{
margin: -2rem;
}

.profile-image img{

    height: 100%;
    width: 100%;
   

}

/* summary section */
.summary-container{
    background-color: white;
    border: 2px solid black;
    border-radius: 24px;
    padding: 16px;
    justify-content: space-around;
    margin-top: 20px;
}

.summary-container i{
    color: var(--primary-color);
    font-size: 2rem;
}

.summary-container p{
    margin: 0;
    font-weight: bold;
    color: var(--primary-color);
}


.skills-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}

.skills-container :nth-child(1) i {
    color:blue;
}

.skills-container :nth-child(2) i {
    color:red;
}

.skills-container :nth-child(3) i {
    color:green;
}

.skills-container :nth-child(4) i {
    color:blue;
}

.skills-container :nth-child(5) i {
    color:violet;
}

/* my recent work section */
.project-card{
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  
}

.card-image{
    width: 100%;
    height: 50%;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-icons{
    text-align: center;
    margin-top: 12px;
    
}

.card-icons a {
    color: var(--text-color);
}

.card-text{
    padding: 12px;
}

.card-text h4,p{
    margin: 0;
}

.about-me-lower-section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

.about-me  div h1{
 align-content: center;
 justify-content: center;  
 text-align: center;
 background-color: lightgoldenrodyellow;
 margin: 0;
 margin-top: 20px;

}

.get-in-touch-container{
    justify-content: space-evenly;
}

.mail-container{
    text-align: center;
    justify-content: space-evenly;
}

.download-btn i{
    color: var(--primary-color);
}

.footer-container {
    justify-content: flex-start;
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
}

.footer-container ul{
    list-style: none;
}